<h1>Créer une activité:</h1>

<form (ngSubmit)="submitForm()" [formGroup]="activityForm">

  <div>
    <label for="name">Nom de l'activité: </label>
    <input type="text" id="name" name="name" formControlName="name"/>
    <span *ngIf="hasNameError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="idEvent">Événement: </label>
    <select formControlName="idEvent">
      <option *ngFor="let eve of eventForActivity" value="{{eve.id}}">{{eve.name}}</option>
    </select>
  </div>

  <br>

  <div>
    <span>Date de l'événement:</span>
    <br><br>
    <span> Jour: </span>
    <span></span>
    <select formControlName="daystart">
      <option *ngFor= "let day of dayList " value="{{day}}">{{day}}</option>
    </select>

    <span> Mois: </span>
    <select formControlName="monthstart">
        <option *ngFor= "let month of monthList " value="{{month}}">{{month}}</option>
    </select>

    <span> Année: </span>
    <select formControlName="yearstart">
      <option *ngFor= "let year of yearList " value="{{year}}">{{year}}</option>
    </select>
  </div>

  <br>

  <div>
    <span>Heure de début de l'événement: </span>

    <select formControlName="hourstart">
      <option *ngFor= "let hour of hourList " value="{{hour}}">{{hour}}</option>
    </select>

    <span> h </span>
    <select formControlName="minutestart">
        <option *ngFor= "let minute of minuteList " value="{{minute}}">{{minute}}</option>
    </select>
  </div>

  <br>

  <div>
    <span>Heure de fin de l'événement: </span>

    <select formControlName="hourfinish">
      <option *ngFor= "let hour of hourList " value="{{hour}}">{{hour}}</option>
    </select>

    <span> h </span>
    <select formControlName="minutefinish">
        <option *ngFor= "let minute of minuteList " value="{{minute}}">{{minute}}</option>
    </select>
  </div>

  <br>

  <input type="submit" [disabled]="!activityForm.valid" />

</form>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
