<h1>Créer une activité</h1>

<form (ngSubmit)="submitForm()" [formGroup]="activityForm">

  <div>
    <label for="name">Nom de l'activité: </label>
    <input type="text" id="name" name="name" formControlName="name"/>
    <span *ngIf="hasNameError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="yearstart">Année de l'activité: </label>
    <input type="text" id="yearstart" name="yearstart" formControlName="yearstart"/>
    <span *ngIf="hasYearstartError()">Requis !</span>
  </div>
  <div>
    <label for="monthstart">Mois de l'activité: </label>
    <input type="text" id="monthstart" name="monthstart" formControlName="monthstart"/>
    <span *ngIf="hasMonthstartError()">Requis !</span>
  </div>
  <div>
    <label for="daystart">Jour de l'activité: </label>
    <input type="text" id="daystart" name="daystart" formControlName="daystart"/>
    <span *ngIf="hasDaystartError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="hourstart">Heure de début: </label>
    <input type="text" id="hourstart" name="hourstart" formControlName="hourstart"/>
    <span *ngIf="hasHourstartError()">Requis !</span>
  </div>
  <div>
    <label for="minutestart">Minute de début: </label>
    <input type="text" id="minutestart" name="minutestart" formControlName="minutestart"/>
    <span *ngIf="hasMinutestartError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="hourfinish">Heure de fin: </label>
    <input type="text" id="hourfinish" name="hourfinish" formControlName="hourfinish"/>
    <span *ngIf="hasHourfinishError()">Requis !</span>
  </div>
  <div>
    <label for="minutefinish">Minute de fin: </label>
    <input type="text" id="minutefinish" name="minutefinish" formControlName="minutefinish"/>
    <span *ngIf="hasMinutefinishError()">Requis !</span>
  </div>

  <br>

  <input type="submit" [disabled]="!activityForm.valid" />

</form>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
