<h1>Créer un événement:</h1>

<form (ngSubmit)="submitForm()" [formGroup]="eventForm">

  <div>
    <label for="name">Nom de l'événement: </label>
    <input type="text" id="name" name="name" formControlName="name"/>
    <span *ngIf="hasNameError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="yearstart">Année de début: </label>
    <input type="text" id="yearstart" name="yearstart" formControlName="yearstart"/>
    <span *ngIf="hasYearstartError()">Requis !</span>
  </div>
  <div>
    <label for="monthstart">Mois de début: </label>
    <input type="text" id="monthstart" name="monthstart" formControlName="monthstart"/>
    <span *ngIf="hasMonthstartError()">Requis !</span>
  </div>
  <div>
    <label for="daystart">Jour de début: </label>
    <input type="text" id="daystart" name="daystart" formControlName="daystart"/>
    <span *ngIf="hasDaystartError()">Requis !</span>
  </div>

  <br>

  <div>
    <label for="yearfinish">Année de fin: </label>
    <input type="text" id="yearfinish" name="yearfinish" formControlName="yearfinish"/>
    <span *ngIf="hasYearfinishError()">Requis !</span>
  </div>
  <div>
    <label for="monthfinish">Mois de fin: </label>
    <input type="text" id="monthfinish" name="monthfinish" formControlName="monthfinish"/>
    <span *ngIf="hasMonthfinishError()">Requis !</span>
  </div>
  <div>
    <label for="dayfinish">Jour de fin: </label>
    <input type="text" id="dayfinish" name="dayfinish" formControlName="dayfinish"/>
    <span *ngIf="hasDayfinishError()">Requis !</span>
  </div>

  <br>

  <input type="submit" [disabled]="!eventForm.valid" />

</form>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
