<div>

  <h2>Se connecter :</h2>

  <form [formGroup]="logForm" (ngSubmit)="submitForm()">

    <div>
      <label for="login">Identifiant : </label>
        <input id="login" name="login" formControlName="login" >
    </div>

    <br>

    <div>
      <label for="pwd">Mot de passe : </label>
          <input type="password" id="pwd" name="pwd" formControlName="pwd">
    </div>

    <br>

    <input type="submit" value="Se connecter" id="button">

  </form>

  <footer id="basDePage"></footer>

</div>
