<h1>Page des événements</h1>

<p>Liste des Activités: </p>
<ul>
  <li *ngFor= "let listactivities of (listActivitiesByEvent | async)">
    {{listactivities.name}} le
    {{listactivities.start.dayOfMonth +"/"+listactivities.start.monthValue +"/"+listactivities.start.year}} à
    {{listactivities.start.hour + "h" + listactivities.start.minute +""}}
  </li>
</ul>

<br>
<a [routerLink]="['/activities']">Page des activités</a>
<br>
<a [routerLink]="['/create-people']">S'inscrire</a>
<br>
<a [routerLink]="['/login']">Page login</a>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
