
h2{
	text-align: center;
	color: rgb(179, 48, 0);
	background-color: rgb(255, 199, 179);
	padding: 2%;
  border: 6px solid rgb(179, 48, 0);
  margin-top: 6%;
  font-size: 60px;
}

#blockMenu{
  text-align: center;
  width: 100%;
  margin-bottom: 6%;
}

a.menu{
	text-decoration: none;
	color:rgb(179, 48, 0);
	border: 4px solid rgb(179, 48, 0);
  font-size: 25px;
  text-align: center;
  padding: 2%;
  margin: 0% 3%;
}

#img{
  margin: 1%;
  float: left;
}

p{
  font-size: 20px;
  text-align: justify;
}

#connect{
  float: right;
  padding: 1%;
  text-decoration: underline;
  color:  rgb(179, 48, 0);
  font-size: 20px;
}

h3{
  font-size: 40px;
  font-style: bold;
  color: rgb(179, 48, 0);
  text-decoration: underline;
  padding: 1%;
}

a{
  color: black;
  text-decoration: none;
  font-size: 25px;
}

li{
  padding: 1% 0%;
}

#list{
  margin-bottom: 4%;
}

#retourMenu{
  border: 4px solid rgb(179, 48, 0);
  font-size: 20px;
  color:  rgb(179, 48, 0);
  padding: 1%;
}

#basDePage{
  margin-top: 10%;
}

