<h1>Événement: {{eventName}}</h1>

<div>
  <img width="600" [src]=" '/assets/img/imgEvent/' + eventImg">
</div>

<p>Liste des Activités de l'événement: </p>
<ul>
  <li *ngFor= "let activities of (listActivities)">
    <a [routerLink]="['/activity', activities.id]">
      {{activities.name}} le {{activities.start | date: 'dd/MM/yy'}} à
      {{activities.start | date : 'HH'}}h{{activities.start | date : 'mm'}}
    </a>
  </li>
</ul>

<br>
<a [routerLink]="['/login']">Page login</a>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
