<h1>Page de l'événement:</h1>

<p>Liste des Activités de l'événement: </p>
<ul>
  <li *ngFor= "let listactivities of (listActivitiesByEvent | async)">
    <a [routerLink]="['/activities']">
      {{listactivities.name}} le
      {{listactivities.start.dayOfMonth +"/"+listactivities.start.monthValue +"/"+listactivities.start.year}} à
      {{listactivities.start.hour + "h" + listactivities.start.minute +""}}
    </a>
  </li>
</ul>

<br>
<a [routerLink]="['/login']">Page login</a>
<br>
<a [routerLink]="['/home']">Retour au menu principal</a>
