<div>

  <div id ="titleHome">
    <a [routerLink]="['/login']" id="connect">Se connecter</a>
    <h1> Bienvenue sur My Project Event</h1>
  </div>

  <div id="blockMenu">
  <a [routerLink]="['/create-event']" class="menu">Créer un événement</a>
  </div>

  <div>
    <h3>Liste des événements: </h3>
    <ul>
      <li *ngFor= "let listevents of (listEvents)">
        <a [routerLink]="['/events', listevents.id]">
          {{listevents.name}} du
          {{listevents.start | date: 'dd/MM/yy'}} au {{listevents.finish | date: 'dd/MM/yy'}}
        </a>
      </li>
    </ul>
  </div>

  <footer id="basDePage"></footer>

</div>

