<div>
  <h1> Bienvenue sur My Project Event</h1>
  <img width="800" alt="Fond Home Event" src="assets/img/Events.jpg">

  <br>

  <p>Liste des événements: </p>
  <ul>
    <li *ngFor= "let listevents of (listEvents)">
      <a [routerLink]="['/events', listevents.id]">
        {{listevents.name}} du
        {{listevents.start | date: 'dd/MM/yy'}} au {{listevents.finish | date: 'dd/MM/yy'}}
      </a>
    </li>
  </ul>

  <br>
  <a [routerLink]="['/create-people']">S'inscrire</a>
  <br>
  <a [routerLink]="['/create-activity']">Créer une activité</a>
  <br>
  <a [routerLink]="['/create-event']">Créer un événement</a>
  <br>
  <a [routerLink]="['/login']">Page login</a>

</div>

