<div>
  <h1> Bienvenue sur My Project Event</h1>
  <img width="600" alt="Fond Home Event" src="assets/img/Events.jpg">

  <br>

  <p>Liste des événements: </p>
  <ul>
    <li *ngFor= "let listevents of (listEvents | async)">
      <a [routerLink]="['/events', listevents.id]">
        {{listevents.name}} du
        {{listevents.start.dayOfMonth +"/"+ listevents.start.monthValue +"/"+ listevents.start.year}} au
        {{listevents.finish.dayOfMonth +"/"+ listevents.finish.monthValue +"/"+ listevents.finish.year}}
      </a>
      <form >
        <input type= "hidden" value ="{{listevents.id}}">
      </form>
    </li>
  </ul>

  <br>
  <a [routerLink]="['/create-people']">S'inscrire</a>
  <br>
  <a [routerLink]="['/create-activity']">Créer une activité</a>
  <br>
  <a [routerLink]="['/create-event']">Créer un événement</a>
  <br>
  <a [routerLink]="['/login']">Page login</a>

</div>

